{% extends 'base.html' %}
{% block product %}
    <p>Novo produto</p>
        <form action="{% url 'produto:new_produto' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class = 'field'>
                    <label class="label">{{ field.label }}</label>
                    <div class="control">
                        {% if field.widget_type == 'select' %}
                                <div class="select">
                                    {{ field }}
                                </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button class="button is-primary" type="submit">salvar</button>
        </form>
{% endblock %}
